@use '../utils/api';

ion-range.ios:not(.ios26-disabled) {
  --knob-size: 20px;
  --knob-border-radius: 24px;
  &.range-label-placement-start::part(label) {
    margin-inline: 0 24px;
  }
  &.range-label-placement-end::part(label) {
    margin-inline: 24px 0;
  }
  [slot='start'] {
    margin-inline: 0 24px;
  }
  [slot='end'] {
    margin-inline: 24px 0;
  }

  &::part(knob) {
    width: 38px;
    margin-inline-start: -8px;
    transition: transform 300ms ease;
  }
  &.range-pressed::part(knob) {
    transform: scale(1.4, 1.6) translateX(calc(38px * -0.1)) translateZ(0);
    -webkit-transform: scale(1.4, 1.6) translateX(calc(38px * -0.1)) translateZ(0);
    @include api.glass-background(0.1, 0.5px, 120%);
    box-shadow:
      inset 0 8px 8px -8px var(--bar-background),
      inset 0 -8px 8px -8px var(--bar-background),
      inset 8px 0 8px -8px var(--bar-background),
      inset -8px 0 8px -8px var(--bar-background);
  }
}
