@use '../utils/api';

/**
 * Note: ion-back-button should not put inner ion-button.
 * feat(): ion-config new property for disable ion-back-button Animation
 */

$scaleup-small: 1.12;
$scaleup-small-icon-only: 1.18;
$scaleup-default: 1.25;
$scaleup-default-icon-only: 1.32;
$scaleup-large: 1.12;
$scaleup-large-icon-only: 1.22;

@mixin theme-buttons {
  @include api.glass-background;
  border-radius: 25px;
  overflow: hidden;
  &:not(:has(.ion-activated)):hover {
    opacity: 0.72;
  }

  /**
   * compare .header-collapse-main ion-toolbar.in-toolbar ion-title, .header-collapse-main ion-toolbar.in-toolbar ion-buttons
   */
  transition: transform var(--ios26-activated-transition-duration) ease-out !important;

  z-index: 0;

  &:has(.ion-activated) {
    z-index: 5;
    @include api.glass-background-button-activated;

    // Hardware acceleration optimization for scale transforms
    transform: scale($scaleup-default-icon-only) translateZ(0);
    -webkit-transform: scale($scaleup-default-icon-only) translateZ(0);
    &:has(:not(.button-has-icon-only):not(.back-button-has-icon-only)),
    &:has(ion-button:nth-child(n + 2)) {
      transform: scale($scaleup-default) translateZ(0);
      -webkit-transform: scale($scaleup-default) translateZ(0);
    }
    &:has(.button-small) {
      transform: scale($scaleup-small-icon-only) translateZ(0);
      -webkit-transform: scale($scaleup-small-icon-only) translateZ(0);
      &:has(:not(.button-has-icon-only):not(.back-button-has-icon-only)),
      &:has(ion-button:nth-child(n + 2)) {
        transform: scale($scaleup-small) translateZ(0);
        -webkit-transform: scale($scaleup-small) translateZ(0);
      }
    }
    &:has(.button-large) {
      transform: scale($scaleup-large-icon-only) translateZ(0);
      -webkit-transform: scale($scaleup-large-icon-only) translateZ(0);
      &:has(:not(.button-has-icon-only):not(.back-button-has-icon-only)),
      &:has(ion-button:nth-child(n + 2)) {
        transform: scale($scaleup-large) translateZ(0);
        -webkit-transform: scale($scaleup-large) translateZ(0);
      }
    }
  }

  &:has(ion-button:not(.ios26-disabled).button-clear.button-large) {
    border-radius: 30px;
  }

  ion-button:not(.ios26-disabled).button-clear {
    transform: none;

    font-weight: 500;
    &.button-small {
      min-height: calc(24px - 2px);
      --padding-top: 1px;
      --padding-bottom: 1px;
      --padding-start: 0.5em;
      --padding-end: 0.5em;
    }
    &.button-default {
      &::part(native) {
        min-height: calc(44px - 2px); // reduce for border 2px;
      }
      --padding-top: 16px;
      --padding-bottom: 16px;
      --padding-start: 1em;
      --padding-end: 1em;
    }
    &.button-large {
      min-height: calc(62px - 2px);
      --padding-top: 17px;
      --padding-start: 1em;
      --padding-end: 1em;
      --padding-bottom: 17px;
    }
    color: rgb(var(--ion-text-color-rgb, 0, 0, 0));
    &.ion-color {
      color: rgb(var(--ion-color-base-rgb, var(--ion-text-color-rgb, 0, 0, 0)));
    }
    &.ion-activated {
      color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
      &.ion-color {
        color: rgba(var(--ion-color-base-rgb, var(--ion-text-color-rgb, 0, 0, 0)), 0.1);
      }
    }

    &:not(.button-disabled) {
      opacity: 1;
    }

    &.ion-activated {
      --color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
      &.ion-color {
        --color: rgba(var(--ion-color-base-rgb, var(--ion-text-color-rgb, 0, 0, 0)), 0.1);
      }
    }

    &::part(native) {
      /**
       * overwrite theme-button mixin.
       * ex) ion-button.ios:not(.ios26-disabled):not(.button-solid):not(.ios26-button-solid):not(.button-outline):not(.ios26-button-outline):not(.button-clear):not(.ios26-button-clear)::part(native)
       */
      box-shadow: none !important;
      border: none !important;
      background: transparent !important;
      backdrop-filter: none !important;
    }
  }

  ion-button:not(.ios26-disabled) {
    margin: 0;
  }

  ion-menu-button:not(.ios26-disabled) {
    width: 44px;
    height: 44px;
    padding: 2px;
  }
}

@mixin theme-button() {
  max-height: inherit;
  z-index: 0;
  &.ion-activated {
    z-index: 10;
  }

  transition:
    transform var(--ios26-activated-transition-duration) ease-out,
    color 50ms ease;

  // will-change is optimized to only apply when needed for performance
  &:not(.ios26-disabled):hover,
  &:not(.ios26-disabled):active,
  &:not(.ios26-disabled).ion-activated {
    will-change: transform;
  }

  &:not(.ios26-disabled):not(:hover):not(:active):not(.ion-activated) {
    will-change: auto;
  }

  // button size default
  &:not(.button-small):not(.button-large) {
    font-size: 1.05rem;
    &:not(.button-has-icon-only):not(.back-button-has-icon-only) {
      &::part(native) {
        padding: 0 12px;
        min-height: 44px;
      }
      ion-icon[slot='start'] {
        margin-inline-start: -0.15em;
        margin-inline-end: 0.15em;
      }
      ion-icon[slot='end'] {
        margin-inline-start: 0.15em;
        margin-inline-end: -0.15em;
      }
    }
  }

  &:not(.button-round) {
    --border-radius: 24px;
    &.button-large {
      --border-radius: 30px;
    }
  }

  /*
   * fill=solid && type=submit button has edge brightness.
   */
  &.button-solid[type='submit'],
  &.button-solid.button-submit {
    /*
     * If not set ion-color-**, button color set primary.
     * https://github.com/ionic-team/ionic-framework/blob/main/core/src/components/button/button.scss#L78-L81
     */
    --color: var(--ion-color-primary-brightness, var(--ion-color-contrast));
    --color-activated: var(--ion-color-primary-brightness);
    --border-color: var(--ion-color-primary-brightness, transparent);
    --background-activated: var(--ion-color-primary-shade, #004acd);
    --background-focused: var(--ion-color-primary-shade, #004acd);
    --background-hover: var(--ion-color-primary-tint, #1a65eb);
    --border-width: 0.5px;
    --border-style: solid;

    @each $item in primary, secondary, tertiary, success, warning, danger, light, medium, dark {
      &.ion-color-#{$item} {
        --color: var(--ion-color-#{$item}-brightness, var(--ion-color-#{$item}-contrast, var(--ion-color-contrast)));
        --color-activated: var(--ion-color-#{$item}-brightness);
        --border-color: var(--ion-color-#{$item}-brightness, transparent);
        --border-width: 0.5px;
        --border-style: solid;
      }
    }
    --background-color: #fff;
    --background-activated-opacity: 1;
    &:not(.button-has-icon-only):not(.back-button-has-icon-only) {
      &:not(.button-small):not(.button-large) {
        min-height: 44px;
      }
    }
    &::part(native) {
      position: relative;
      color: var(--color);
      z-index: 0;
    }
    &.ion-activated {
      --border-width: 0.78px;
      &::part(native) {
        @include api.glass-background-button-activated;
        color: var(--color-activated);
        &::before {
          content: '';
          z-index: 1;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: inherit;
          pointer-events: none;
          backdrop-filter: brightness(144%);
        }
      }
      &.ion-activated.button-has-icon-only,
      &.ion-activated.back-button-has-icon-only {
        transform: scale($scaleup-default-icon-only);
        &.button-small {
          transform: scale($scaleup-small-icon-only);
        }
        &.button-large {
          transform: scale($scaleup-large-icon-only);
        }
      }

      &:not(.button-has-icon-only):not(.back-button-has-icon-only) {
        transform: scale($scaleup-default);
        &.button-small {
          transform: scale($scaleup-small);
        }
        &.button-large {
          transform: scale($scaleup-large);
        }
      }
    }
    &.button-disabled {
      opacity: 1;
      &::part(native) {
        background: var(--ion-background-color-step-200, #cccccc);
        color: #fff;
        border: none;
      }
    }
  }

  // fill:default only
  &:not(.button-solid):not(.button-outline):not(.button-clear) {
    --background-hover: transparent;
    --background-activated: transparent;

    &:not(.button-has-icon-only):not(.back-button-has-icon-only) {
      &:not(.button-small):not(.button-large) {
        min-height: 44px;
      }
    }

    &::part(native) {
      @include api.glass-background;
      color: var(--color);
    }

    &:not(.button-disabled) {
      opacity: 1; // for ion-back-button
    }
    &:not(.ion-activated):hover {
      opacity: 0.72;
    }
    --color: rgb(var(--ion-text-color-rgb, 0, 0, 0));
    &.ion-color {
      --color: rgba(var(--ion-color-base-rgb, var(--ion-text-color-rgb, 0, 0, 0)), 1);
    }
    &.ion-activated {
      --color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
      &.ion-color {
        --color: rgba(var(--ion-color-base-rgb, var(--ion-text-color-rgb, 0, 0, 0)), 0.1);
      }
      &.ion-activated.button-has-icon-only,
      &.ion-activated.back-button-has-icon-only {
        transform: scale($scaleup-default-icon-only);
        &.button-small {
          transform: scale($scaleup-small-icon-only);
        }
        &.button-large {
          transform: scale($scaleup-large-icon-only);
        }
      }

      &:not(.button-has-icon-only):not(.back-button-has-icon-only) {
        transform: scale($scaleup-default);
        &.button-small {
          transform: scale($scaleup-small);
        }
        &.button-large {
          transform: scale($scaleup-large);
        }
      }
      &::part(native) {
        opacity: 1; // for ion-back-button
      }
    }
    &.button-disabled {
      opacity: 1;
      --color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
      &.ion-color {
        --color: rgba(var(--ion-color-base-rgb, var(--ion-text-color-rgb, 0, 0, 0)), 0.5);
      }
    }
  }

  &.button-has-icon-only,
  &.back-button-has-icon-only {
    &:not(.button-small):not(.button-large)::part(native) {
      width: 44px;
      height: 44px;
      padding: 2px;
    }

    ion-icon {
      font-size: 1.4rem;
      &[name='close-outline'] {
        font-size: 2rem;
      }
    }
  }
}

ion-buttons.ios:not(.ios26-disabled):not(:has(ion-back-button, ion-button:not(.button-clear), ion-menu-button.menu-button-hidden)) {
  @include theme-buttons;
}

ion-buttons.ios:not(.ios26-disabled):not(:has(ion-back-button, ion-button.button-clear)) {
  ion-button {
    margin: 0 6px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:only-child {
      margin: 0;
    }
  }
}

ion-button.ios:not(.ios26-disabled) {
  @include theme-button;
}
ion-back-button.ios:not(.ios26-disabled) {
  @include theme-button;
}

ion-back-button.ion-cloned-element {
  visibility: hidden;
}
