@use '../utils/api';

ion-range.ios:not(.ios26-disabled) {
  --knob-size: 20px;
  --knob-border-radius: 24px;
  padding-right: 36px;
  &::part(label) {
    margin-inline: 0 20px;
  }
  [slot='start'],
  [slot='end'] {
    margin-inline: 20px 0;
  }

  &::part(knob) {
    width: 38px;
    margin-inline-start: -8px;
    transition: transform 300ms ease;
  }
  &.range-pressed::part(knob) {
    transform: scale(1.4, 1.6) translateX(0) !important;
  }
}
