@use '../utils/api';

ion-toast.ios:not(.ios26-disabled) {
  --background: transparent;
  --start: 16px;
  --end: 16px;

  &::part(wrapper) {
    @include api.glass-background;
    border-radius: 24px;
  }

  &.ion-color::part(wrapper) {
    @include api.glass-background($background-rgb: var(--ion-color-base-rgb), $border-color-rgb: var(--ion-color-base-rgb));
    border-radius: 24px;
  }
}
