@use '../utils/api';

ion-modal.ios {
  ion-searchbar:not(.ios26-disabled) {
    .searchbar-input-container {
      input.searchbar-input {
        // Modal表示でのアイコン非表示の不具合の対応
        backdrop-filter: none;
      }
    }
  }
}

ion-searchbar.ios:not(.ios26-disabled):not(.searchbar-classic) {
  min-height: 60px;
  padding: 0;

  ion-icon.searchbar-search-icon {
    inset-inline-start: 12px;
  }

  .searchbar-input-container {
    margin: 0 8px 0 16px;
    align-self: center;
    justify-self: center;
    input.searchbar-input {
      min-height: 44px;
      @include api.glass-background;
      border-radius: 20px;
      padding-inline-start: 2.4rem !important;
    }
    .searchbar-clear-button {
      padding-inline-end: 2rem;
    }
  }
}

/**
 * add searchbar-classic
 */
ion-toolbar.ios:not(.ios26-disabled):has(ion-searchbar.searchbar-classic.ios:not(.ios26-disabled)) {
  --min-height: auto !important;
}
ion-searchbar.ios:not(.ios26-disabled).searchbar-classic {
  padding-bottom: 12px;
  min-height: auto;
  input.searchbar-input {
    border-radius: 999px;
    height: 44px;
    font-size: 0.98rem;
    padding-inline-start: 38px !important;
    background: rgba(var(--ion-color-contrast-rgb), 0.078);
  }
  ion-icon.searchbar-search-icon {
    inset-inline-start: 12px;
    width: 1.18rem;
  }
  button.searchbar-clear-button {
    right: 8px;
  }
}
