@use '../utils/api';

ion-split-pane.ios:not(.ios26-disabled).split-pane-visible:has(ion-menu.menu-pane-visible) {
  .split-pane-main {
    ion-tab-bar.ios:not(.ios26-disabled) {
      width: calc(
        100% - calc(18px + var(--ion-safe-area-left, 0px)) - calc(18px + var(--ion-safe-area-left, 0px)) - 60px -
          12px - var(--ios26-menu-width)
      );

      &:has(:nth-child(5)) {
        width: calc(
          100% - calc(18px + var(--ion-safe-area-left, 0px)) - calc(18px + var(--ion-safe-area-left, 0px)) - var(--ios26-menu-width)
        );
      }
    }
  }
  &:has(ion-menu.menu-side-start) {
    .split-pane-main {
      ion-header ion-toolbar {
        /*
         * 4px: https://github.com/ionic-team/ionic-framework/blob/main/core/src/components/toolbar/toolbar.ios.vars.scss#L28-L32
         */
        --padding-start: calc(var(--ios26-menu-width) + 4px);
        ion-title.title-default {
          /*
           * 90px: https://github.com/ionic-team/ionic-framework/blob/main/core/src/components/title/title.ios.scss#L8
           */
          padding-left: calc(90px + var(--ios26-menu-width));
        }
      }
      ion-content {
        --padding-start: var(--ios26-menu-width);
        ion-header ion-toolbar {
          --padding-start: 4px;
        }
      }
      ion-footer ion-toolbar {
        --padding-start: var(--ios26-menu-width);
      }
      ion-tab-bar.ios:not(.ios26-disabled) {
        &[slot='bottom'] {
          left: calc(16px + var(--ion-safe-area-left, 0px) + var(--ios26-menu-width));
        }
      }
    }
  }

  &:has(ion-menu.ios:not(.ios26-disabled).menu-side-end) {
    .split-pane-main {
      ion-header ion-toolbar {
        /*
         * 4px: https://github.com/ionic-team/ionic-framework/blob/main/core/src/components/toolbar/toolbar.ios.vars.scss#L28-L32
         */
        --padding-end: calc(var(--ios26-menu-width) + 4px);
        ion-title.title-default {
          /*
           * 90px: https://github.com/ionic-team/ionic-framework/blob/main/core/src/components/title/title.ios.scss#L8
           */
          padding-right: calc(90px + var(--ios26-menu-width));
        }
      }
      ion-content {
        --padding-end: var(--ios26-menu-width);
        ion-header ion-toolbar {
          --padding-start: 4px;
        }
      }
      ion-footer ion-toolbar {
        --padding-end: var(--ios26-menu-width);
      }
    }
  }
}

ion-menu.ios:not(.ios26-disabled) {
  --border: none;
  --background: transparent;
  --max-width: var(--ios26-menu-width);
  position: absolute;
  top: 0;
  z-index: 999;

  &.menu-side-start {
    left: 0;
  }
  &.menu-side-end {
    left: calc(100vw - var(--ios26-menu-width));
  }

  &::part(backdrop) {
    display: none;
  }

  ion-content {
    --background: transparent;
    --ios26-content-box-shadow-rgb: transparent;

    &::part(scroll) {
      @include api.glass-background;
      margin: calc(var(--ios26-floating-safe-area-top) + 6px) calc(16px + var(--ion-safe-area-right)) var(--ios26-floating-safe-area-bottom)
        calc(12px + var(--ion-safe-area-left));
      border-radius: 24px;
    }
  }
}
