:host {
  --ios26-color-background-rgb: var(--ion-color-dark-rgb);
}

ion-header {
  position: absolute;
  top: 0;
  left: 0;
  ion-title,
  ion-button::part(native) {
    color: var(--ion-text-color, #fff);
  }
}

ion-content {
  position: relative;
  section.images {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    img {
      border: 0.1px solid #fff;
      border-top: none;
    }
  }
}
