@use '../utils/api';

ion-alert.ios:not(.ios26-disabled) {
  --backdrop-opacity: 0.2;
  .alert-wrapper {
    @include api.glass-background(0.9);
    &:has(.ion-activated) {
      @include api.glass-background(0.95);
    }
    border-radius: 32px;

    .alert-head,
    .alert-message {
      text-align: left;
      padding: 12px 20px;
    }

    .alert-radio-group {
      padding: 0;
      margin-bottom: 12px;
      button {
        padding: 0 8px;
      }
    }

    .alert-button-group {
      padding: 0 8px 12px;
      .alert-button {
        border: none;
        border-radius: 32px;
        margin: 0 4px;
        min-width: calc(50% - 8px);
        background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.08);
        color: var(--ion-text-color);

        &.ion-activated {
          background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.06);
        }
      }
    }

    button.action-sheet-cancel {
      margin-top: 12px;
    }
  }
}
