@use '../utils/theme-list-inset';

ion-list.list-inset.ios:not(.ios26-disabled) {
  @include theme-list-inset.ion-list-inset();

  ion-item-group,
  ion-reorder-group {
    border-radius: 24px;
    overflow: hidden;

    ion-item {
      // To draw lines inside
      --inner-padding-end: 0;
      &::part(native) {
        padding-right: 18px;
      }
      &::part(detail-icon) {
        //padding-right: 18px;
        margin-inline-end: 0;
      }

      --min-height: 52px;

      & > ion-input[labelplacement='floating'] {
        transition: transform 0.2s ease;

        &:not(.label-floating) {
          transform: translateY(-2px);
        }
      }
    }
  }
}
