@use '../utils/api';

ion-fab.ios:not(.ios26-disabled) {
  ion-fab-button {
    &::part(native) {
      @include api.glass-background;
      color: rgb(var(--ios26-color-dark-rgb));
    }
    --background-activated-opacity: 0;
    --background-focused-opacity: 0;
    --background-hover-opacity: 0;
  }
  &.fab-vertical-bottom {
    bottom: var(--ios26-floating-safe-area-bottom);
  }

  &.fab-horizontal-start {
    right: calc(16px + var(--ion-safe-area-left, 0px));
  }

  &.fab-horizontal-end {
    right: calc(16px + var(--ion-safe-area-right, 0px));
  }
}
