@use '../utils/api';

ion-breadcrumbs.ios:not(.ios26-disabled) {
  ion-breadcrumb::part(native) {
    @include api.glass-background;
    border-radius: 24px;
    margin-inline: 12px;

    padding-inline: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
