@use '../utils/api';

ion-action-sheet.ios:not(.ios26-disabled) {
  --button-color: var(--ion-text-color);
  --button-background-selected: transparent;
  --backdrop-opacity: 0.2;

  .action-sheet-container {
    @include api.glass-background(0.9);
    margin: 0 8px 8px;
    border-radius: 32px;

    .action-sheet-title {
      padding-top: 8px;
    }

    .action-sheet-group {
      background: transparent;

      button {
        border-radius: 32px;
        background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.08);
        padding: 0 14px;
        min-height: 52px;
        span.action-sheet-button-inner {
          font-size: 1rem;
          ion-icon {
            font-size: 1.2rem;
          }
        }

        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }

    button.action-sheet-cancel {
      margin-top: 12px;
    }
  }
}
