@use '../utils/api';

ion-toggle.ios:not(.ios26-disabled) {
  --handle-width: 38px;
  --handle-height: 24px;
  --handle-max-width: none;
  --handle-max-height: none;
  --track-background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.23);
  ::part(handle) {
    transition: transform 0.3s ease;
  }
  &.toggle-activated::part(handle) {
    transform: scale(1.4, 1.6) translateX(calc(38px * -0.15));
    @include api.glass-background(0.1, 0.5px, 120%);
    box-shadow: inset 0 0 8px 0 var(--track-background);
  }
  &.ion-color.toggle-checked.toggle-activated::part(handle) {
    box-shadow:
      inset 0 8px 8px -8px var(--ion-color-base),
      inset 8px 0 8px -8px var(--track-background),
      inset 8px 0 8px -8px var(--track-background),
      inset -8px 0 8px -8px var(--ion-color-base);
  }
  &.toggle-checked.toggle-activated::part(handle) {
    box-shadow:
      inset 0 8px 8px -8px var(--track-background-checked),
      inset 8px 0 8px -8px var(--track-background),
      inset 8px 0 8px -8px var(--track-background),
      inset -8px 0 8px -8px var(--track-background-checked);
  }
  &::part(track) {
    overflow: visible;
    width: 64px;
    height: 28px;
    transition: transform 0.3s ease;
  }
  &.toggle-checked.toggle-activated::part(track) {
    transform: translateX(-4px);
  }
}
