@use '../utils/api';

ion-toolbar.ios:not(.ios26-disabled) {
  &:has(ion-segment) {
    overflow: visible;
  }
  ion-segment {
    @include api.glass-background;
    min-height: 44px;
    border-radius: 25px;

    transition: transform 100ms ease-out;
    will-change: transform;
    overflow: visible;

    &.in-toolbar-color:not(.in-segment-color) {
      ion-segment-button:not(.segment-button-checked)::part(native) {
        color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 1) !important;
      }
    }

    ion-segment-button {
      --border-width: 0;

      &::part(indicator-background) {
        border-radius: 25px;
        box-shadow: none;
        transition: background 0.2s ease;
        background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.06);
      }
    }

    &.segment-activated {
      transform: scale(1.1);
      overflow: visible;

      ion-segment-button {
        transition: transform 100ms ease-out;
        &.segment-button-checked::part(native) {
          transform: scale(1.26);
        }
        &::part(indicator-background) {
          position: relative;
          z-index: 1;
          background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0);
          transform: scale(1.1);
          transform-origin: center center;
        }
      }
    }
  }
}
