@use 'ion-button';

/**
 * https://github.com/ionic-team/ionic-framework/blob/main/core/src/components/header/header.scss#L17-L19
 * ion-header ion-toolbar:first-of-type {
 *  padding-top: var(--ion-safe-area-top, 0);
 * }
 */
ion-header.ios:not(.ios26-disabled) ion-toolbar:not(.ios26-disabled):first-of-type {
  padding-top: max(calc(var(--ion-safe-area-top) - 12px), 4px);
}

ion-toolbar.ios:not(.toolbar-title-large):not(.ios26-disabled) {
  --min-height: 68px;
}

ion-header.ios:not(.ios26-disabled),
ion-footer.ios:not(.ios26-disabled) {
  ion-buttons {
    margin-left: calc(12px + var(--ion-safe-area-left));
    margin-right: calc(12px + var(--ion-safe-area-right));
  }
  ion-back-button {
    margin-left: calc(12px + var(--ion-safe-area-left));
    margin-right: calc(12px + var(--ion-safe-area-right));
  }
  ion-toolbar ion-buttons ion-back-button {
    margin-left: 0;
    margin-right: 0;
  }
}
