@use '../utils/api';

@mixin theme-button {
  max-height: inherit;
  margin: 8px 4px;
  &:first-child {
    margin-left: 12px;
  }
  &:last-child {
    margin-right: 12px;
  }

  transition:
    transform 100ms ease-out,
    color 50ms ease;
  will-change: transform;

  &.ion-activated {
    transform: scale(1.2);
    box-shadow: none;
    ion-icon {
      // 色を指定しなくても半透明に
      //color: var(--ion-color-medium-tint);
    }
  }

  // button size default
  font-size: 1.05rem;
  &:not(.button-has-icon-only):not(.back-button-has-icon-only)::part(native) {
    padding: 0 16px;
    min-height: 44px;
  }

  &.button-small {
    font-size: 1.04rem;
    &:not(.button-has-icon-only):not(.back-button-has-icon-only)::part(native) {
      padding: 0 12px;
      min-height: 36px;
    }
  }

  &.button-large {
    font-size: 1.06rem;
    &:not(.button-has-icon-only):not(.back-button-has-icon-only)::part(native) {
      padding: 0 20px;
      min-height: 52px;
    }
  }

  &::part(native) {
    border-radius: 25px;
  }

  &:not(.button-solid):not(.ios26-button-solid):not(.button-outline):not(.ios26-button-outline):not(.button-clear):not(
      .ios26-button-clear
    )::part(native) {
    @include api.glass-background;
    border-radius: 25px;
  }

  &:not(.button-solid):not(.ios26-button-solid):not(.button-clear):not(.ios26-button-clear) {
    color: var(--color);
    &.ion-activated {
      &::part(native) {
        &::after {
          background: transparent !important;
        }
      }
    }
  }

  &.button-has-icon-only,
  &.back-button-has-icon-only {
    &::part(native) {
      border-radius: 50%;
      width: 44px;
      height: 44px;
      padding: 2px;
    }

    ion-icon {
      font-size: 1.4rem !important;
      &[name='close-outline'] {
        font-size: 2rem !important;
      }
    }
  }
}

/**
 * .ios26-no-liquid-glass を適用しない限り、デフォルトスタイル
 */
ion-header.ios,
ion-footer.ios {
  ion-buttons:not(.ios26-no-liquid-glass) ion-button:not(.ios26-no-liquid-glass),
  ion-buttons:not(.ios26-no-liquid-glass) ion-back-button:not(.ios26-no-liquid-glass),
  /* collapseのanimateBackButton対策 */
  ion-back-button:not(.ios26-no-liquid-glass) {
    @include theme-button;
  }
}

/**
 * .ios26-liquid-glass を任意で適用した場合のスタイル
 */
ion-buttons.ios.ios26-liquid-glass ion-button:not(.ios26-no-liquid-glass),
ion-buttons.ios.ios26-liquid-glass ion-back-button:not(.ios26-no-liquid-glass),
ion-button.ios.ios26-liquid-glass,
ion-back-button.ios.ios26-liquid-glass {
  @include theme-button;
}
