@use '../utils/api';

ion-fab.ios {
  ion-fab-button {
    &::part(native) {
      @include api.glass-background;
      color: rgb(var(--ios26-color-dark-rgb));
    }
    --background-activated: rgba(var(--ios26-color-light-rgb), 0.3);
  }
  // TODO: これはUtility Classにマイグレートする必要があります
  &.inner-tab-bar {
    right: calc(16px + var(--ion-safe-area-right, 0px));
    bottom: var(--ios26-floating-safe-area-bottom);
  }
}
