@use '../utils/api';

ion-tab-bar.ios:not(.ios26-disabled) {
  @include api.glass-background;
  z-index: 2;

  border-radius: 40px;
  --color: var(--ion-text-color, #000);

  &[slot='top'] {
    position: absolute;
    top: var(--ios26-floating-safe-area-top);
    right: calc(16px + var(--ion-safe-area-right, 0px));
  }

  &[slot='bottom'] {
    position: absolute;
    bottom: var(--ios26-floating-safe-area-bottom);
    left: calc(16px + var(--ion-safe-area-left, 0px));
  }

  /**
   * 100% - margin-left - margin-right - right-fab - margin-right-fab
   */
  width: calc(100% - calc(18px + var(--ion-safe-area-left, 0px)) - calc(18px + var(--ion-safe-area-left, 0px)) - 54px - 18px);
  max-width: 474px;
  &:has(:nth-child(5)) {
    width: calc(100% - calc(18px + var(--ion-safe-area-left, 0px)) - calc(18px + var(--ion-safe-area-left, 0px)));
    max-width: 546px;
  }
  padding: 2px 2px;

  transition: transform 100ms ease-out;
  will-change: transform;
  &:active {
    transform: scale(1.02);
    backdrop-filter: saturate(360%);
  }

  ion-tab-button {
    & > ion-icon {
      font-size: 28px;
    }
    background: rgba(var(--ios26-color-light-rgb), 0);
    height: auto;
    &::part(native) {
      overflow: visible;
      padding: 2px;
    }

    &.tab-selected {
      &::part(native) {
        background: rgba(var(--ios26-color-tab-active-rgb), 0.095);
        transition: background 0.2s ease;
        border-radius: 32px;
      }

      &.ion-activated::part(native) {
        background: rgba(var(--ios26-color-shadow-rgb), 0.02);
      }
    }
  }
}
