@use '../utils/api';

ion-alert.ios:not(.ios26-disabled) {
  --backdrop-opacity: 0.2;

  // --max-width: clamp(270px, 16.875rem, 324px);
  --max-width: 324px;

  .alert-wrapper {
    @include api.glass-background(0.9);
    &:has(.ion-activated) {
      @include api.glass-background(0.95);
    }
    border-radius: 32px;

    .alert-head,
    .alert-message {
      text-align: left;
      margin-left: 8px;
      margin-right: 8px;
    }

    .alert-message {
      font-size: 0.98rem;
      line-height: 1.2rem;
    }

    .alert-radio-group {
      padding: 0;
      margin-bottom: 12px;
      button {
        padding: 0 8px;
      }
    }

    .alert-button-group {
      padding: 0 8px 12px;
      gap: 8px 0;
      .alert-button {
        border: none;
        border-radius: 32px;
        margin: 0 6px;
        min-width: calc(50% - 12px);
        // height: max(44px, 2.75rem);
        height: 48px;
        background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.08);

        &:not(.alert-button-role-destructive) {
          color: var(--ion-text-color);
        }
        font-weight: normal;

        &.ion-activated {
          background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.06);
        }
      }
    }

    button.action-sheet-cancel {
      margin-top: 12px;
    }
  }
}
