:root {
  --ios26-floating-safe-area-bottom: max(10px, var(--ion-safe-area-bottom, 0px));

  --ios26-color-dark-rgb: 0, 0, 0;
  --ios26-color-light-rgb: 255, 255, 255;
  --ios26-color-tab-active-rgb: 16, 16, 16;
  --ios26-color-shadow-rgb: 224, 224, 224;
  --ios26-color-background-rgb: 255, 255, 255;
  --ios26-color-edge-rgb: 255, 255, 255;
}

.ion-palette-dark {
  --ios26-color-dark-rgb: 255, 255, 255;
  --ios26-color-light-rgb: 58, 58, 58;
  --ios26-color-tab-active-rgb: 255, 255, 255;
  --ios26-color-shadow-rgb: translarent;
  --ios26-color-background-rgb: 0, 0, 0;
  --ios26-color-edge-rgb: 120, 120, 120;
}

@mixin glass-background($opacity: 0.4, $blur: 6px) {
  background: rgba(var(--ios26-color-light-rgb), $opacity);
  backdrop-filter: saturate(240%) blur($blur);
  box-shadow:
    inset 0 0 8px 0 rgba(var(--ios26-color-shadow-rgb), 0.2),
    0 0 12px 0 rgba(var(--ios26-color-shadow-rgb), 0.8);
  border-top: 0.5px solid rgba(var(--ios26-color-edge-rgb), 1);
  border-right: 0.5px solid rgba(var(--ios26-color-edge-rgb), 0.8);
  border-bottom: 0.5px solid rgba(var(--ios26-color-edge-rgb), 1);
  border-left: 0.5px solid rgba(var(--ios26-color-edge-rgb), 0.6);
  transition: box-shadow 0.1s ease;
}

@mixin glass-background-dark-active($opacity: 0.25, $blur: 7px) {
  background: rgba(var(--ios26-color-tab-active-rgb), $opacity);
  backdrop-filter: saturate(180%) blur($blur);
  box-shadow: inset 0 0 8px 0 rgba(var(--ios26-color-tab-active-rgb), 0.2);
  border: 0.5px solid rgba(var(--ios26-color-tab-active-rgb), 0.7);
  transition: box-shadow 0.1s ease;
}
