@use 'dark/ion-button';

@mixin default-variables {
  --ios26-color-dark-rgb: 255, 255, 255;
  --ios26-color-light-rgb: 58, 58, 58;
  --ios26-color-tab-active-rgb: 255, 255, 255;
  --ios26-color-inner-shadow-rgb: translarent;
  --ios26-color-outer-shadow-rgb: translarent;
  --ios26-color-background-rgb: 0, 0, 0;
  --ios26-color-edge-rgb: 64, 64, 64;
}

@mixin theme-dark {
  @include ion-button.ion-button;
}
