<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/main/index"></ion-back-button>
    <ion-title>button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list [inset]="true">
    <ion-item-group class="header-item-group">
      <ion-item>
        <ion-label>
          <ion-icon name="logo-ionic" style="background: linear-gradient(#489bfd, #2b77f4)"></ion-icon>
          <h2>button</h2>
          <ion-header collapse="condense">
            <ion-toolbar></ion-toolbar>
          </ion-header>
          <ion-text><code>This page is a component demo for &#64;rdlabo/ionic-theme-ios26.</code></ion-text>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list [inset]="true">
    <ion-list-header><ion-label>Default styles</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-label><code>buttons > button</code></ion-label>
        <ion-buttons slot="end">
          <ion-button>Link</ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label><code>button</code></ion-label>
        <ion-button slot="end">Link</ion-button>
      </ion-item>
    </ion-item-group>
    <ion-note>Should not effect this library.</ion-note>
  </ion-list>

  <ion-list [inset]="true">
    <ion-list-header><ion-label>Inner ion-buttons</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-label><code>buttons > button</code></ion-label>
        <ion-buttons slot="end">
          <ion-button>Link</ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label><code>buttons > button[fill=default]</code></ion-label>
        <ion-buttons slot="end">
          <ion-button fill="default">Link</ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label><code>buttons > button[fill=default][size=default]</code></ion-label>
        <ion-buttons slot="end">
          <ion-button fill="default" size="default">Link</ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label><code>buttons > button[fill=default]</code></ion-label>
        <ion-buttons slot="end">
          <ion-button fill="default">Link</ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label><code>buttons > button[fill=outline]</code></ion-label>
        <ion-buttons slot="end">
          <ion-button fill="outline">Link</ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list [inset]="true">
    <ion-list-header><ion-label>Standalone</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-label><code>button[fill=default]</code></ion-label>
        <ion-button slot="end" fill="default">Link</ion-button>
      </ion-item>
      <ion-item>
        <ion-label><code>button[fill=default][color=primary]</code></ion-label>
        <ion-button slot="end" fill="default" color="primary">Link</ion-button>
      </ion-item>
      <ion-item>
        <ion-label><code>button[fill=solid]</code></ion-label>
        <ion-button slot="end" fill="solid">Link</ion-button>
      </ion-item>
      <ion-item>
        <ion-label><code>button[fill=outline]</code></ion-label>
        <ion-button slot="end" fill="outline">Link</ion-button>
      </ion-item>
      <ion-item>
        <ion-label><code>button[fill=clear]</code></ion-label>
        <ion-button slot="end" fill="clear">Link</ion-button>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <section class="section-example">
    <ion-buttons>
      <ion-button size="small" fill="solid" color="primary">small</ion-button>
      <ion-button size="default" fill="solid" color="primary">default</ion-button>
      <ion-button size="large" fill="solid" color="primary">large</ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-button size="small" fill="default">small</ion-button>
      <ion-button size="default" fill="default">default</ion-button>
      <ion-button size="large" fill="default">large</ion-button>
    </ion-buttons>
  </section>
</ion-content>
