/**
 * You should use:
 * @use '@rdlabo/ionic-theme-ios26/dist/css/ionic-theme-ios26.min.css';
 * Here for development:
 */
@use '../../../src/ionic-theme-ios26';

:root {
  --ios26-color-background-rgb: var(--ion-color-light-rgb);
}

ion-header.ios,
ion-footer.ios {
  ion-buttons:not(.ios26-no-liquid-glass),
  ion-button:not(.ios26-no-liquid-glass),
  ion-back-button:not(.ios26-no-liquid-glass) {
    --color: var(--ion-text-color, #000);
  }
}

section.section-example {
  background: var(--ion-background-color, #fff);
  border-radius: 24px;
  padding: 16px;
  margin: 16px;
}

ion-searchbar .searchbar-input-container {
  margin: 0 20px !important;
}
